data/PennFudanPed/Annotation/*.txt filter=lfs diff=lfs merge=lfs -text
data/PennFudanPed/PedMasks/*.png filter=lfs diff=lfs merge=lfs -text
data/PennFudanPed/PNGImages/*.png filter=lfs diff=lfs merge=lfs -text
